<!--[if lte IE 7]><script src="js/icons-lte-ie7.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>