<div id="footer">

    <p>
        <a href="#"><span class="glyph-item mega icon-social-twitter" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-facebook" aria-hidden="true"></span></a>
    </p>

    Copyright &copy; 2014

    <div class="clearfix"></div>

</div>

<!--[if lte IE 7]><script src="js/icons-lte-ie7.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>