<div id="footer">

    <p>
        <a href="#"><span class="glyph-item mega icon-social-twitter" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-facebook" aria-hidden="true"></span></a>
    </p>

    Copyright &copy; 2014

    <div class="clearfix"></div>

</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54548330-1', 'auto');
    ga('send', 'pageview');

</script>
<!--[if lte IE 7]><script src="js/icons-lte-ie7.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>