{% include 'header.twig' %}

<div id="wrapper">

    <!-- Start Header -->

    <div id="header">

        <div class="container">
            <div class="row">
                <div class="span12">

                    <h1 id="logo">
                        <a href="/">DropletPro</a>
                    </h1>
                    <h2 class="menulink"><a href="#">Menu</a></h2>

                    <!-- Start Menu -->
                    <div id="menu">
                        <ul>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#faq">F.A.Q.</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End Menu -->

                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <!-- End Header -->

    <!-- Start Content -->

    <div class="container">

        <div class="row">

            <div class="span12">

                <div class="inner">

                    <div class="hero">

                        <h1>Your Drupal Superhero</h1>
                        <h2>Infinite Drupal support, whenever you need. <br />All from $79.</h2>

                        <a href="#pricing" class="btn btn-primary">View Plans</a>

                    </div>


                </div>

            </div>

        </div>

    </div>

    <!-- End content -->

    <div class="clearfix"></div>

</div>

<div class="strip highlight strip-alt center">

    <div class="container">

        <div class="row">

            <div class="span12">

                <div class="inner inner-text">

                    <h2>Droplet Pro handles Drupal. <span>You handle business.</span></h2>

                    <h4>Building your organization shouldn't mean updating your Drupal site.<br />
                        Available 24/7, Droplet Pro's experts can help with minor fixes, support, and maintenance.<br />
                        We turn your request around typically within the same day.</h4>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

<div class="strip features">

    <div class="container">

        <div class="row">

            <div class="span4">

                <div class="inner">

                    <span class="glyph-item mega icon-screen-email" aria-hidden="true"></span>

                    <h3>Email Us</h3>

                    <p>Send us a quick email of your issue, and we'll begin working on it.</p>

                </div>

            </div>

            <div class="span4">

                <div class="inner">

                    <span class="glyph-item mega icon-screen-checklist" aria-hidden="true"></span>

                    <h3>Best Practices</h3>

                    <p>Site running slow? We make sure your site has the right modules and configuration.</p>

                </div>

            </div>

            <div class="span4">

                <div class="inner">

                    <span class="glyph-item mega icon-users" aria-hidden="true"></span>

                    <h3>Excellent Support</h3>

                    <p>All requests are answered in a matter of hours. Most can be resolved in the same business day.</p>

                </div>

            </div>

            <div class="clearfix"></div>

            <div class="span4">

                <div class="inner">

                    <span class="glyph-item mega icon-screen-rocket" aria-hidden="true"></span>

                    <h3>Boost Business</h3>

                    <p>We'll review your Drupal site for maximum SEO potential. Keep customers happy with a fast and secure Drupal site.</p>

                </div>

            </div>

            <div class="span4">

                <div class="inner">

                    <span class="glyph-item mega icon-screen-shield" aria-hidden="true"></span>

                    <h3>Prevent Hacking</h3>

                    <p>Your site is important. Make sure it stays securely up-to-date.</p>

                </div>

            </div>

            <div class="span4">

                <div class="inner">

                    <span class="glyph-item mega icon-emoticon-smile" aria-hidden="true"></span>

                    <h3>Simple &amp; Easy</h3>

                    <p>One simple email springs our experts into action. No need to remember a phone number or worry if someone will respond.</p>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

<div class="strip highlight strip-alt">

    <div class="container">

        <div class="row">

            <div class="span6">

                <div class="inner inner-text">

                    <h2>What is <span>the process?</span></h2>

                    <ol class="steps">
                        <li>Send us an email.</li>
                        <li>We complete the task (typically within the same day).</li>
                        <li>You rest easy.</li>
                    </ol>
                </div>

            </div>

            <div class="span6">

                <div class="inner">

                    <img src="typing.jpg" alt="Send Droplet Pro an email to get started. It's that simple." class="promoimg" />
                    <!--Image attribute: https://www.flickr.com/photos/wiertz/4604140980/in/photolist-kSgeY-bewNF-81RqH3-6XqJnU-5B6tJb-6Uu7ZX-naHbG8-2W31F-8zpQc5-nhTrf9-nmSev8-nsAWSN-5CAAz6-6UyaBJ-zzuKx-d6iaCE-e4Z2tB-f5GSuF-jKnrLD-6Uu76z-d6iaEo-cCVLy7-bmBcex-9M2WW4-dbPkhh-6d476C-7pp2De-fBm85W-d6iaGu-iNhacs-6Uu8s8-kDbEix-5RMU9V-cVvNn3-7LpE8y-cX8kX3-7LmtJ1-cryq2W-4Z6ocp-8peUde-EtckQ-6Uu6za-6nW6bu-f1XmjH-4A71gG-7CizgP-fTZbEN-dREQJm-ahR2UW-75NgHC -->

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

<div class="strip highlight">

    <div class="container">

        <div class="row">

            <div class="span6">

                <div class="inner">

                    <h2><span class="glyph-item  icon-pencil" aria-hidden="true"></span>Let's Connect</h2>

                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//dropletpro.us9.list-manage.com/subscribe/post?u=31ddac0eefb2e0040b6979885&amp;id=a5d1235d60" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="form-row">
                                <div class="mc-field-group">
                                    <input type="email" value="" required="" name="EMAIL" class="required email text login_input" id="mce-EMAIL" placeholder="Email address">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="mc-field-group">
                                    <input type="text" value="" name="FNAME" class="text login_input" id="mce-FNAME" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="mc-field-group">
                                    <input type="text" value="" name="LNAME" class="text login_input" id="mce-LNAME" placeholder="Last Name">
                                </div>
                            </div>

                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_31ddac0eefb2e0040b6979885_a5d1235d60" tabindex="-1" value=""></div>
                            <div class="clearfix"></div>

                            <div class="form-row">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->

                </div>

            </div>

            <div class="span6">

                <div class="inner inner-text">

                    <h2>Sign-up for our <span>free newsletter</span></h2>

                    <h4>Learn what works and what doesn't work when maintaining a Drupal site, hiring a freelancer, or learning Drupal for the first time.</h4>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

<div class="strip strip-alt pricing" id="pricing">

    <div class="container">


        <div class="row blocks">

            <div class="span4">

                <div class="inner secondary">

                    <ul>
                        <li><h2>Basic</h2></li>
                        <li class="price"><h1><span>$ </span><strong>79</strong><small> per month</small></h1></li>
                        <li>1 site, infinite half-hour work requests</li>
                        <li>Performance and security check</li>
                        <li>Detailed synopsis</li>
                        <li>24/7 availability</li>
                    </ul>

                    <form action="" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_ZISaIsTjqU0svXPfg4hNF28j"
                                data-amount="7900"
                                data-name="Droplet Pro"
                                data-description="Basic ($79.00)">
                        </script>
                    </form>

                </div>

            </div>

            <div class="span8">

                <div class="inner primary">

                    <ul>
                        <li><h2>Premium</h2></li>
                        <li class="price"><h1><span>$ </span><strong>129</strong><small> per month</small></h1></li>
                        <li>1 site, infinite half-hour work requests</li>
                        <li>Performance and security check</li>
                        <li>Detailed synopsis</li>
                        <li>24/7 availability</li>
                        <li>Automatic module, theme updates</li>
                        <li>Automated testing of 10 pages</li>
                        <li>Technical code audit of 5 custom modules</li>
                        <li>Training video walk-through, up to 30 minutes</li>
                    </ul>

                    <form action="" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_ZISaIsTjqU0svXPfg4hNF28j"
                                data-amount="12900"
                                data-name="Droplet Pro"
                                data-description="Premium ($129.00)">
                        </script>
                    </form>

                </div>

            </div>

            <div class="clearfix"></div>

            <div class="span12">

                <h3><span class="glyph-item  icon-screen-thumbsup" aria-hidden="true"></span>30-day Money Back Guarantee</h3>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

<div class="strip highlight" id="faq">

    <div class="container">

        <div class="row">

            <div class="inner">

                <div class="span12">

                    <h2><span class="glyph-item  icon-screen-question" aria-hidden="true"></span>Frequently Asked Questions</h2>

                </div>

                <div class="span4">

                    <h4>What does 'infinite work requests' mean?</h4>

                    <p>Signing up with us means support for unlimited 30 minute tasks for 1 site.</p>

                    <h4>What if I have more than one Drupal site?</h4>

                    <p>Each site will need it's own subscription to Droplet Pro.</p>

                </div>

                <div class="span4">

                    <h4>Is it really infinite?</h4>

                    <p>Yes, we support unlimited tasks for 1 site.</p>

                </div>

                <div class="span4">

                    <h4>Is it really infinite?</h4>

                    <p>Yes, we support unlimited tasks for 1 site.</p>

                </div>

                <div class="clearfix"></div>

            </div>

        </div>

    </div>

</div>

<div class="clearfix"></div>

<div id="footer">

    <p>
        <a href="#"><span class="glyph-item mega icon-social-twitter" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-facebook" aria-hidden="true"></span></a>
    </p>

    Copyright &copy; 2014

    <div class="clearfix"></div>

</div>

{% include 'footer.twig' %}

