<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} | {% endif %}DropletPro | Infinite 24/7 Drupal support $79</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-picture.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>