<!-- Start Header -->

<div id="header">

    <div class="container">
        <div class="row">
            <div class="span12">

                <h1 id="logo">
                    <a href="/">DropletPro</a>
                </h1>
                <h2 class="menulink"><a href="#">Menu</a></h2>

                <!-- Start Menu -->
                <div id="menu">
                    <ul>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#faq">F.A.Q.</a></li>
                        <li><a href="mailto:help@brightplum.com">Contact</a></li>
                    </ul>
                </div>
                <!-- End Menu -->

            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>

<!-- End Header -->