{% include 'header.twig' %}

<div id="wrapper" class="wrapper-page wrapper-flexi">

    {% include 'menu.twig' %}

    <!-- Start Content -->

    <div class="container">

        <div class="row">

            <!-- <div class="span12">

                <div class="inner">

                    <div class="hero">

                        <h1>{{ title }}</h1>
                        <h2>{{ subtitle }}</h2>

                    </div>

                </div>

            </div>-->

        </div>

    </div>

    <div class="clearfix"></div>

</div>

<div class="strip" id="content">

    <div class="container">

        <div class="row">

            <div class="span8">

                <div class="inner">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in mi vitae mi venenatis convallis. Nam porta dapibus volutpat. Pellentesque erat diam, tempor eu ligula nec, tempus aliquam odio. Phasellus diam nunc, egestas et nibh vel, volutpat volutpat felis. Integer rhoncus fringilla enim et ornare. Fusce ut lectus neque. Donec eget augue at nisi fermentum feugiat. Proin ut mattis eros, non congue felis. Fusce a mauris blandit, cursus mi sit amet, consectetur quam. Integer in quam aliquet, ullamcorper elit pretium, feugiat dui.</p>

                <p>Aenean tristique tristique metus, ac semper enim ultrices ut. Aliquam erat volutpat. Nam sed lorem est. Ut at sapien et ante scelerisque dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum rutrum nisi vel cursus dictum. Maecenas velit lectus, vulputate sit amet sapien eget, iaculis tristique diam. Donec fringilla orci ac mauris mollis blandit. Vivamus in scelerisque turpis.</p>

                <p>Nullam quis quam tempus, tristique orci in, porta dui. Nulla a convallis est. Vestibulum laoreet turpis eget fermentum iaculis. Aliquam aliquam sed sem eget lacinia. Duis porta, orci nec cursus aliquet, enim odio semper nunc, ac convallis orci nunc id nisl. Mauris imperdiet, quam sed aliquam lacinia, nunc odio lobortis magna, id consequat nisi augue sit amet elit. In sed turpis risus. Phasellus fermentum, massa sit amet pulvinar ultrices, massa mauris sagittis tellus, et dictum mi massa a leo. Vivamus gravida diam augue, et adipiscing arcu aliquet vitae. Praesent fermentum vestibulum justo ac fermentum. Proin quis eleifend metus. Aliquam erat volutpat. Maecenas sit amet turpis metus.</p>

                <h1>Proin in vehicula vinar nunc.</h1>
                <h2>Phasellus quis diam ut  eu nec massa.</h2>
                <h3>Donec dapibus vitae mi porta vehicula.</h3>
                <h4>Nunc luctus massa non consectetur tincidunt.</h4>
                <h5>Nam gravida elit eu nibh blandit consequat.</h5>
                <h6>Nam ullamcorper interdum euismod.</h6>

                <p>Mauris vel ultrices ante. Aliquam sit amet iaculis quam. Nullam neque neque, vehicula tristique dictum vel, varius vitae tellus. In mi odio, condimentum non quam quis, vestibulum euismod quam. Integer ut imperdiet arcu. Aliquam convallis dignissim ipsum, at posuere leo rutrum ac. Ut purus lectus, sodales et ultricies ac, bibendum eget eros. Etiam a ipsum sed risus sodales congue at et nibh. Maecenas mollis orci quis erat vulputate mattis. Aliquam erat volutpat. Cras sit amet arcu at ante venenatis molestie at nec nisi. Phasellus laoreet eleifend neque eget pulvinar.</p>

                <p>Cras vitae urna sit amet eros cursus bibendum eu sed sapien. Nulla facilisi. Proin tristique libero et nunc pretium, vitae dictum dolor lobortis. Proin purus nibh, sollicitudin eget risus non, condimentum dictum tellus. Sed ac ipsum eu neque vestibulum gravida. Donec convallis dictum ipsum, et tincidunt ante porta ac. Vestibulum mi turpis, eleifend quis dolor vitae, ultricies faucibus augue. Sed dignissim est quis diam hendrerit, ac faucibus arcu tristique.</p>

                </div>

            </div>

            <div class="span4">

                <div class="inner" id="sidebar">

                    <ul>

                        <li>
                            <h3><span class="glyph-item icon-screen-smartphone" aria-hidden="true" ></span>Download our app!</h3>
                            <p>Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis. </p>
                        </li>
                        <li>
                            <h3><span class="glyph-item icon-screen-desktop" aria-hidden="true" ></span> Responsive</h3>
                            <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
                        </li>
                        <li>
                            <h3><span class="glyph-item  icon-pencil" aria-hidden="true" ></span> Signup</h3>
                            <form method="post" action="#" name="example">

                                <div class="form-row">
                                    <input id="user_name" placeholder="Your name" class="text login_input" type="text" name="user_name" required />
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-row">
                                    <input id="user_email" type="email" placeholder="Your email" class="text login_input" name="user_email" required />
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-row">
                                    <textarea placeholder="Your message"></textarea>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-row">
                                    <input type="submit" name="register" value="Sign up now!" class="btn btn-wide" data-loading-text="Loading..." />
                                    <div class="clearfix"></div>
                                </div>

                            </form>
                        </li>
                    </ul>
                </div>

            </div> <!-- /.span4 -->

            <div class="clearfix"></div>

        </div> <!-- /.row -->

    </div> <!-- /.container -->

</div> <!-- /#content.strip -->

<div class="clearfix"></div>

{% include 'footer.twig' %}